@font-face {
  font-family: bleedingCowboys;
  src: url(Bleeding_Cowboys.ttf);
}
@font-face {
  font-family: converge;
  src: url(SixtyfourConvergence-Regular-VariableFont_BLED\,SCAN\,XELA\,YELA.ttf);
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: converge;
  background-color: brown;
}
h1 {
  color: white;
}
.little {
width: 500px;
}
#big {
width: 800px;
}
#pap {
  width: 1000;
}
.firstpara {
color: red;
}
.secondpara {
  color: green;
}
.thirdpara {
  color: blue;
}